@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 250 252; /* slate-50 */
    --foreground: 15 23 42; /* slate-900 */
  }

  body {
    @apply bg-background text-slate-900 antialiased;
  }
}
